
<table style="text-align:center"><tr><td colspan="2" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td><em>Dependent variable:</em></td></tr>
<tr><td></td><td colspan="1" style="border-bottom: 1px solid black"></td></tr>
<tr><td style="text-align:left"></td><td>mean_MigEnrich</td></tr>
<tr><td colspan="2" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">mean_Trust</td><td>0.371<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.082)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">stflife</td><td>0.017</td></tr>
<tr><td style="text-align:left"></td><td>(0.069)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">gndrFemale</td><td>-0.450</td></tr>
<tr><td style="text-align:left"></td><td>(0.324)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">rlgdgr</td><td>0.023</td></tr>
<tr><td style="text-align:left"></td><td>(0.051)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">Constant</td><td>4.574<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.615)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td colspan="2" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Observations</td><td>145</td></tr>
<tr><td style="text-align:left">R<sup>2</sup></td><td>0.138</td></tr>
<tr><td style="text-align:left">Adjusted R<sup>2</sup></td><td>0.113</td></tr>
<tr><td style="text-align:left">Residual Std. Error</td><td>1.869 (df = 140)</td></tr>
<tr><td style="text-align:left">F Statistic</td><td>5.587<sup>***</sup> (df = 4; 140)</td></tr>
<tr><td colspan="2" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"><em>Note:</em></td><td style="text-align:right"><sup>*</sup>p<0.1; <sup>**</sup>p<0.05; <sup>***</sup>p<0.01</td></tr>
</table>
