
<table style="text-align:center"><tr><td colspan="11" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td>lrscale_dummy</td><td>N</td><td>meanEnrich</td><td>sdEnrich</td><td>meanAllow</td><td>sdAllow</td><td>meanStf</td><td>sdStf</td><td>meanTrst</td><td>sdTrst</td></tr>
<tr><td colspan="11" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">1</td><td>0</td><td>1977</td><td>5.9</td><td>1.99</td><td>3.04</td><td>0.64</td><td>6.2</td><td>1.55</td><td>5.18</td><td>1.76</td></tr>
<tr><td style="text-align:left">2</td><td>1</td><td>159</td><td>6.34</td><td>2.06</td><td>3.24</td><td>0.69</td><td>5.9</td><td>1.67</td><td>4.86</td><td>1.94</td></tr>
<tr><td style="text-align:left">3</td><td>2</td><td>125</td><td>4.72</td><td>2.57</td><td>2.73</td><td>0.65</td><td>6.1</td><td>1.82</td><td>4.72</td><td>2.04</td></tr>
<tr><td style="text-align:left">4</td><td>NA</td><td>97</td><td>5.11</td><td>2.42</td><td>2.87</td><td>0.78</td><td>5.91</td><td>2.32</td><td>4.65</td><td>2.25</td></tr>
<tr><td colspan="11" style="border-bottom: 1px solid black"></td></tr></table>
