
<table style="text-align:center"><tr><td colspan="7" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td>source</td><td>N</td><td>meanIndCom</td><td>sdIndCom</td><td>meanHieEga</td><td>sdHieEga</td></tr>
<tr><td colspan="7" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">1</td><td>1</td><td>250</td><td>3.26466666666667</td><td>0.820895398206718</td><td>2.34933333333333</td><td>1.18717375565012</td></tr>
<tr><td style="text-align:left">2</td><td>2</td><td>296</td><td>3.25394144144144</td><td>0.87601619546313</td><td>2.21734234234234</td><td>1.09684683900829</td></tr>
<tr><td style="text-align:left">3</td><td>3</td><td>245</td><td>3.30544217687075</td><td>1.04007467283886</td><td>2.38775510204082</td><td>1.21728021578848</td></tr>
<tr><td colspan="7" style="border-bottom: 1px solid black"></td></tr></table>
